<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="M3Pro_ros2_control" params="name initial_positions_file">
        <xacro:property name="initial_positions" value="${load_yaml(initial_positions_file)['initial_positions']}"/>

        <ros2_control name="${name}" type="system">
            <hardware>
                <!-- By default, set up controllers for simulation. This won't work on real hardware -->
                <plugin>mock_components/GenericSystem</plugin>
            </hardware>
            <joint name="arm1_Joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['arm1_Joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="arm2_Joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['arm2_Joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="arm3_Joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['arm3_Joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="arm4_Joiint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['arm4_Joiint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="arm5_Joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['arm5_Joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="rlink1_Joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['rlink1_Joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>

        </ros2_control>
    </xacro:macro>
</robot>
